body
{
    margin:0;
    font-family:Calibri;
    background-color: beige;
    background-image: url("back.jpg");
    background-size:1366px;
}



#hamburger
{
    float:left;
    width:30px;
    z-index: 100;
    margin-top:30px;
    display:block;
    margin-left:30px;
    position:fixed;
    top:0;
    left:0;
}

.side-bar
{
  top:0;
  left:0;
  height: 100%;
  width: 0; 
  background-color: #222223;
  padding-top: 60px;
  transition: 0.5s; 
  position:fixed;
  overflow:hidden;  
}

.side-bar ul
{
    margin:0;
    padding-bottom:100%;
    list-style-type: none;
}

.side-bar li 
{
    padding: 20px 8px 20px 32px;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
  }
  
#heading1
{
  font-size:60px;
  font-weight:lighter;
  color:white;
  margin-top:270px;
  margin-left:450px;
}

#heading2
{
  font-weight:bold;
  margin-left:400px;
  font-size:20px;
  color:white;
  animation-name:animation;
  animation-duration:2s;
  animation-iteration-count: 3;
}

#button
{
  margin-left:1100px;
  background-color: white;
  border:20px solid white;
  border-radius:100%;
}

#button:hover
{
  animation-name:buttonAnimation;
  animation-duration:2s;
  animation-iteration-count: infinite;
}
@keyframes buttonAnimation
{
  0%
  {
  border:20px solid white;
  }
  50%
  {
    border:30px solid white;
  }

  100%
  {
    border:20px solid white;
  }
}


/*
.nav
{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
        margin:40px;
}

#nav{
    margin-left:250px;
}

li
{
    list-style-type:circle;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    li
    {
        list-style-type: lower-roman;
    }
    
  }
  */
  